body {
  background: black;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

canvas {
    border: solid 1px white;
}

.modal-dialog {
  background: black;
  border: 1px solid grey;
}

.menuchild {
  background: grey;
}
